.aboutCard {
    background-color: #ffffff;
    border: 1px solid #d4d1d1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(173, 166, 166, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.4S;
  }
  .aboutCard img{
    height:300px;
    width: 300px;
  }