body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

.singUp{
    width: 500px;
    box-shadow:  0 0 3px 0 rgba(0,0, 0, 0.3);
    background-color: #fff;
    padding: 20px;
    margin: 50px  auto;
    text-align: center;
   
}
.h1{
    text-align: center;
    padding-top: 15px;
}
.form{
    width: 400px;
    margin-left: 20px;
}
.lable{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
.input{
    width: 250px;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}